.home {
  height: 100%; 
  padding-top: 2vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.btn {
  background: $secondary-color;
  color: #fff;
  padding: 1.5% 2%;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1.05rem;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 3% 5%;
}

.cta {
  background: $accent-color;
  width: 100%;
  margin: 0;

  &__input {
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-radius: 2.5px;
    padding: 1%;
  }

  &__info, &__title {
    padding: 3% 5%;
  }
}

.about {
  padding: 1.25% 2%;

  &__info {
    padding: 3% 5%;
  }
}
.codepedia {
  padding: 1.25% 2%;

  &__info {
    padding: 3% 5%;
  }
}
.resources {
  padding: 1.25% 2%;

  &__info {
    padding: 3% 5%;
  }
}

